/* reset CSS styles */
@import "nullstyle.scss";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/* connection fonts */
@import "fonts.scss";

/*---WRAPPER--------------------------------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 130px;
  box-sizing: content-box;
}
@media (max-width: 992px) {
  ._container {
    padding: 0px 50px;
  }
}
@media (max-width: 479px) {
  ._container {
    padding: 0px 30px;
  }
}

/*---HEADER--------------------------------------------------------------------------*/
.header__container {
  height: 153px;
  background: #ffea29;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 153px;
}
.header__logo {
  display: flex;
  align-items: center;
  /*padding-top: 29px;*/
}
.header__logo a {
  display: inline-flex;
}
.logo__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.045em;
  color: #000000;
  padding-top: 7px;
}
.header__nav {
  display: flex;
  list-style-type: none;
  /*margin-top: 56.5px;*/
  margin-left: 135px;
  margin-right: 69px;
}
.header__nav li {
  margin-left: 35px;
}
.header__nav li a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 158%;
  letter-spacing: 0.065em;
  color: #000000;
  transition: all 2000ms ease-in-out;
}
.header__nav li a:hover {
  text-decoration-line: underline;
}
.header__phone {
  align-items: center;
  /*margin-top: 56.5px;*/
  margin-right: 60px;
}
.header__phone img {
  margin-top: 4px;
}
.phone__num {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.5%;
  letter-spacing: 0.045em;
  color: #000000;
}
.header__button {
  padding: 10px 15px;
  gap: 10px;
  width: 188px;
  height: 51px;
  background: #ffea29;
  border: 1px solid #000000;
  border-radius: 5px;
  flex: none;
  flex-grow: 0;
  text-align: center;
  justify-content: center;
  /*button text*/
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  line-height: 153.5%;
  letter-spacing: 0.045em;
  white-space: nowrap;
  font-size: 20px;
  transition: all ease-in-out 200ms;
}

.header__button:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #ffea29;
}
